<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>admin-formulario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">admin-formulario</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="encabezadoFormulario">
    <ion-text>TITULO</ion-text>
    <ion-text>subtitulo</ion-text>
    <div id="line-bar"></div>
  </div>

  <div id="formulario">

    <ion-card *ngFor="let pregunta of nPreguntas">
      <ion-card-header>
        <ion-input [(ngModel)]="pregunta"></ion-input>
      </ion-card-header>
      <ion-card-content>
        <ion-input [(ngModel)]="subtitulo"></ion-input>
      </ion-card-content>
      <ion-card  *ngFor="let c of contador; let index">
        <ion-card-header>
          <ion-input [(ngModel)]="nP[index].pregunta"></ion-input>
        </ion-card-header>
        <ion-card-content>
          <div>
            <ion-input placeholder="a"></ion-input>
            <ion-input placeholder="b"></ion-input>
          </div>
          <div>
            <ion-input placeholder="c"></ion-input>
            <ion-input placeholder="d"></ion-input>
          </div>
          <ion-button (click)="eliminar(c)">
            <ion-icon slot="icon-only" name="close-outline"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>
    
    </ion-card>
    <ion-button (click)="agregar()">
      <ion-icon slot="icon-only" name="add-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>
